@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93vw;
  padding-top: 22px;
}
header .brand-logo {
  display: flex;
  align-items: center;
  gap: 4px;
  flex: 1;
}
header nav ul {
  display: flex;
  user-select: none;
  gap: 22px;
}
header nav ul li p {
  opacity: 0.4;
}
header nav ul li img {
  width: 22px;
}
header nav ul li.active p {
  font-weight: 600;
  opacity: 1;
}
header nav ul li.active img {
  display: none;
}
header .menu {
  border: 1px solid #a0a0a1;
  border-radius: 32px;
  background: #ffffff;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: 150px;
  padding: 8px 12px;
  gap: 8px;
}
header .menu dialog {
  position: absolute;
  top: 0;
  left: -6vh;
  width: 150px;
  border: 1px solid #a0a0a1;
  padding: 22px;
  padding-top: 52px;
  border-radius: 22px;
  z-index: -1;
}

section.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 93vw;
}
section.hero .hero-banner {
  display: flex;
  flex-direction: column;
  padding: 52px 0px;
  gap: 72px;
}
section.hero .hero-banner .hero-buttons {
  display: flex;
  gap: 12px;
}
section.hero .hero-banner .hero-buttons button:first-child {
  border: 1px solid #a0a0a1;
  border-radius: 32px;
  background: #131316;
  padding: 12px 22px;
}
section.hero .hero-banner .hero-buttons button:first-child p {
  color: white;
}
section.hero .hero-banner .hero-buttons button:first-child img {
  filter: brightness(0) invert(1);
}
section.hero .hero-banner .hero-buttons button:last-child {
  border: 1px solid #a0a0a1;
  border-radius: 32px;
  background: #ffffff;
  padding: 12px 22px;
}
section.hero .hero-carousel {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
section.hero .hero-carousel > div {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}
section.hero .hero-carousel > div .card {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
}
section.hero .hero-carousel > div .card.active {
  display: flex;
}
section.hero .hero-carousel > div .card > p {
  background: rgba(160, 160, 161, 0.337254902);
  padding: 2px 12px;
  border-radius: 22px;
}
section.hero .hero-carousel > div .card .action-buttons {
  display: flex;
  width: 100%;
}
section.hero .hero-carousel > div .card .action-buttons > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid white;
}
section.hero .hero-carousel > div .card .action-buttons img:nth-child(2) {
  transform: translateX(-10px);
  z-index: -1;
}
section.hero .hero-carousel > div .card .action-buttons img:nth-child(3) {
  transform: translateX(-20px);
  z-index: -2;
}
section.hero .hero-carousel > div .card .action-buttons > button:nth-child(4),
section.hero .hero-carousel > div .card .action-buttons button:nth-child(1) {
  border: 1px solid #a0a0a1;
  border-radius: 32px;
  background: #ffffff;
  width: 100%;
  height: 50px;
  padding-left: 8px;
  padding-right: 14px;
  justify-content: flex-start;
}
section.hero .hero-carousel > div .card .action-buttons > button:last-child {
  border: 1px solid #a0a0a1;
  border-radius: 32px;
  background: #131316;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  margin-left: 12px;
  justify-content: center;
}
section.hero .hero-carousel > div .card .action-buttons > button:last-child img {
  filter: brightness(0) invert(1);
}
section.hero .hero-footer {
  grid-column: 1/3;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin-top: 52px;
  margin-bottom: 22px;
  border: 1px solid #a0a0a1;
  border-radius: 72px 72px 8px 8px;
  clip-path: polygon(0 0, 100% 0%, 100% 75%, 0 75%);
}
section.hero .hero-footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  border-right: 1px solid #a0a0a1;
}
section.hero .hero-footer button {
  border: 1px solid #a0a0a1;
  border-radius: 32px;
  background: #ffffff;
  padding: 12px 22px;
}

section.our-customers {
  display: flex;
  align-items: flex-end;
  width: 93vw;
  height: 100%;
}
section.our-customers h1,
section.our-customers h3,
section.our-customers p {
  color: white;
}
section.our-customers .left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  gap: 48px;
  flex: 3.5;
}
section.our-customers .left-side .socmed {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 122px;
  flex: 1;
}
section.our-customers .left-side .socmed img {
  height: 16px;
  width: 16px;
  padding: 8px;
  box-sizing: content-box;
  border: 1px solid white;
  border-radius: 12px;
}
section.our-customers .left-side .customer-icons {
  display: flex;
  width: 100%;
}
section.our-customers .left-side .customer-icons > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  mask: radial-gradient(circle at 41px, transparent 17px, white 0);
}
section.our-customers .left-side .customer-icons img:nth-child(2) {
  transform: translateX(-10px);
  z-index: -1;
}
section.our-customers .left-side .customer-icons img:nth-child(3) {
  transform: translateX(-20px);
  z-index: -2;
}
section.our-customers .left-side .customer-icons img:nth-child(4) {
  transform: translateX(-30px);
  z-index: -3;
}
section.our-customers .left-side .customer-icons img:nth-child(5) {
  transform: translateX(-40px);
  z-index: -4;
}
section.our-customers .left-side .customer-title {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
section.our-customers .left-side .customer-title button {
  display: flex;
  justify-items: flex-start;
  align-items: center;
  background: none;
  border: none;
  gap: 12px;
  padding-left: 12px;
}
section.our-customers .left-side .customer-title button h3 {
  font-weight: lighter;
}
section.our-customers .left-side .customer-title button img {
  width: 22px;
  height: 22px;
  background: white;
  border-radius: 50%;
  flex-shrink: 0;
  transform: rotate(-45deg);
}
section.our-customers .left-side .stats {
  display: flex;
  align-items: flex-end;
}
section.our-customers .left-side .stats h1 {
  font-weight: 400;
  padding-right: 8px;
}
section.our-customers .left-side .stats h1:nth-child(3)::after {
  content: "%";
  font-size: 0.5em;
}
section.our-customers .left-side .stats p {
  padding-right: 22px;
  padding-bottom: 14px;
}
section.our-customers .right-side {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 22px;
}
section.our-customers .right-side .tags {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
section.our-customers .right-side .tags p {
  border: 1px solid #a0a0a1;
  font-size: 0.8em;
  padding: 4px 22px;
  border-radius: 22px;
}

.background {
  background-color: #131316;
  background-image: linear-gradient(0deg, rgb(19, 19, 22) 0%, rgba(255, 255, 255, 0) 100%), url(./assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1000px;
  z-index: -10;
  padding-bottom: 32px;
}
.background .divider {
  width: 95vw;
  height: 62px;
  opacity: 0.4;
  border: 1px solid #a0a0a1;
  border-radius: 8px 8px 72px 72px;
  clip-path: polygon(0 7%, 100% 7%, 100% 100%, 0 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: clamp(14px, 1vw, 18px);
  background: #ffffff;
}

p {
  margin: 0;
  font-size: 1em;
  color: #131316;
}

h1 {
  margin: 0;
  font-size: 5.5em;
  font-weight: 600;
  color: #131316;
}

h3 {
  margin: 0;
  font-size: 1.3em;
  font-weight: 600;
  color: #131316;
}

li {
  text-decoration: none;
  list-style-type: none;
}

dialog {
  position: relative;
}

button {
  display: flex;
  font-size: 1em;
  align-items: center;
  cursor: pointer;
  user-select: none;
  gap: 4px;
}

li {
  display: flex;
  font-size: 1em;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}

span {
  opacity: 0.4;
}

@media (width <= 1000px) {
  h1 {
    font-size: 3em;
  }
  header {
    width: 90vw;
  }
  header nav {
    display: none;
  }
  header .menu {
    margin-left: 0;
  }
  section.hero {
    width: 90vw;
    grid-template-columns: repeat(1, 1fr);
  }
  section.hero .hero-banner .hero-buttons {
    flex-direction: column;
  }
  section.hero .hero-banner .hero-buttons > button {
    display: flex;
    justify-content: center;
  }
  section.hero .hero-carousel {
    align-items: center;
    justify-content: center;
  }
  section.hero .hero-carousel > div {
    width: 100%;
  }
  section.hero .hero-footer {
    grid-column: 1;
  }
  section.hero .hero-footer div:nth-child(1),
  section.hero .hero-footer div:nth-child(2),
  section.hero .hero-footer div:nth-child(3),
  section.hero .hero-footer div:nth-child(4) {
    display: none;
  }
  section.hero .hero-footer div:nth-child(5) {
    padding: 22px;
    border: none;
  }
  section.our-customers {
    flex-direction: column;
    align-items: center;
  }
  section.our-customers .left-side {
    width: 90vw;
    padding-bottom: 22px;
  }
  section.our-customers .left-side .stats p {
    padding-bottom: 8px;
  }
  section.our-customers .right-side {
    width: 90vw;
    flex: 0;
  }
}