@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-family: $primary-font, $system-font;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: clamp(14px, 1vw, 18px);
}

p {
  margin: 0;
  font-size: 1em;
  color: $font-color;
}

h1 {
  margin: 0;
  font-size: 5.5em;
  font-weight: 600;
  color: $font-color;
  letter-spacing: -6px;
}

h3 {
  margin: 0;
  font-size: 1.3em;
  font-weight: 600;
  color: $font-color;
}

li {
  text-decoration: none;
  list-style-type: none;
}

dialog {
  position: relative;
}

button {
  display: flex;
  font-size: 1em;
  align-items: center;
  cursor: pointer;
  user-select: none;
  gap: 4px;
}

li {
  display: flex;
  font-size: 1em;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}

@media (width <= 550px) {
  h1 {
    font-size: 3em;
    letter-spacing: -1px;
  }

  header {
    padding: 22px;
    nav {
      display: none;
    }
    .menu {
      margin-left: 0;
    }
  }
  section.hero {
    padding: 0px 22px;
    grid-template-columns: repeat(1, 1fr);
    .hero-heading {
      flex-direction: column;
      .hero-banner {
        justify-content: center;
        align-items: center;
        .hero-buttons {
          > button {
            display: flex;
            justify-content: center;
          }
        }
      }
      .hero-carousel {
        min-height: 276px;
        align-items: center;
        justify-content: center;
        > div {
          width: 100%;
        }
      }
    }
    .hero-footer {
      div:nth-child(3),
      div:nth-child(4) {
        display: none;
      }
    }
  }
  section.our-customers-description {
    flex-direction: column;
    align-items: center;
    padding: 0px 22px;
    .left-side {
      width: 100%;
      padding-bottom: 22px;
      .stats {
        p {
          padding: 0;
          padding-bottom: 8px;
        }
      }
    }
    .right-side {
      width: 100%;
      flex: 0;
    }
  }
  section.steps {
    .traits-title > h1 {
      font-size: 8em;
      letter-spacing: -4px;
    }
    .steps-grid {
      padding: 0;
      grid-template-columns: repeat(1, 1fr);
      > div {
        border: 0;
        border-bottom: 1px solid #a0a0a15d;
      }
      > div:first-child {
        padding: 22px;
        align-items: center;
        border-bottom: 1px solid #a0a0a15d;
      }
      > div:nth-child(4) {
        border-bottom: 1px solid #a0a0a15d;
      }
    }
  }
}

@media (width <= 1000px) {
  header {
    nav ul li:last-child {
      display: none;
    }
    .menu {
      margin-left: 32px;
    }
  }
  section.hero {
    .hero-heading {
      flex-direction: column;
    }
    .hero-carousel {
      min-height: 150px;
    }
    .hero-footer {
      div:nth-child(1),
      div:nth-child(2) {
        display: none;
      }
      div:nth-child(5) {
        border: none;
      }
    }
  }
}
